@font-face {
  font-family: "AlteHaasGroteskBold";
  src: url("fonts/AlteHaasGroteskBold.ttf") format("truetype");
}
@font-face {
  font-family: "AlteHaasGroteskRegular";
  src: url("fonts/AlteHaasGroteskRegular.ttf") format("truetype");
}

.bgcustom{
    background-color: rgb(21, 35, 47);
}

.summarease {
    color: beige;
    font-family: "AlteHaasGroteskBold", sans-serif;
    font-size: 110px;
    margin: 0px;
}
.caption{
    color: beige;
    text-align: center;
    margin-top: -18px;
}

.uploadtext{
    color: rgb(219, 219, 145);
    font-family: "AlteHaasGroteskBold", sans-serif;
    text-decoration: underline;
    font-size: 20px;    
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 150px;
}
.forumdiv{
    margin: 0px;
}

.selecttext{
    color: beige;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-right: 10px;
}

